{% extends "ecommerce_app/base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'auth.css' %}">
{% endblock %}


{% block content %}
<br></br>
<br></br>
<body class="text-center">
  <br></br>
    <form class="form-signin" action="{% url "login_user" %}" method=POST>
      {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputUsername" class="sr-only">E-mail</label>
      <input type="text" name="email" class="form-control" placeholder="E-mail" required="" autofocus="">
      <br></br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required="">

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>


    </form>
    <a href="#">Continue as guest</a>
    <a href="{%url "register_user" %}">Register as new user</a>

</body>

{% endblock content %}