{% extends "ecommerce_app/base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'register.css' %}">
{% endblock %}


</body>
{% block content %}
{%if form.errors %}
<div class="alert alert-danger" role="alert">
    <p>There was an error with your form</p>
  </div>

{% endif %}
<br></br>
<br></br>
<body class="text-center">
<form action="{% url "register_user" %}" method=POST>
    {% csrf_token %}
    {{form}}
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>

</body>

{% endblock content %}